.task {
    background-color: black;
    width: 98vw;
    height: 15vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    margin-bottom: 5px;
  }
  .taskbar {
    height: 100%;
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-evenly;
  }
  .category {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: 100%;
  }
  .category h6 {
    font-size: 12px;
    padding-top: 40px;
    cursor: pointer;
    color: #ffffff;
  }
  .subcategory1 {
    position: absolute;
    top: 100%;
    z-index: 50;
    background-color: #ffffff;
    height: auto;
    width: 30vw;
    overflow-x: none;
    border-radius: 10px;
    box-shadow: 2px 2px 15px darkgray;
    display: none;
  }
  .subcategory1 a {
    text-decoration: none;
    color: #0f0616;
    width: 100%;
  }
  .subcategory1 li {
    height: 10vh;
    text-align: center;
    border-bottom: solid lightgray 1px;
    padding: 1em;
    list-style: none;
    border-radius: 10px;
  }
  .subcategory1 li:hover {
    background-color: var(--gold);
    transition: 1s ease-in-out;
  }
  .subcategory1 li a:hover {
    color: goldenrod;
    transition: 1s;
  }
  .subcategory1 :last-child {
    border-bottom: none;
  }
  .category:hover .subcategory1 {
    display: flex;
  }

  /* subcategory2 */
  .subcategory2 {
    position: absolute;
    top: 100%;
    left: -150%;
    z-index: 50;
    background-color: #ffffff;
    height: auto;
    width: 70vw;
    overflow-x: none;
    border-radius: 10px;
    box-shadow: 2px 2px 15px darkgray;
    display: none;
  }
  .subcategory2 a {
    text-decoration: none;
    color: #0f0616;
    width: 100%;
  }
  .subcategory2 li {
    height: 10vh;
    text-align: center;
    border-bottom: solid lightgray 1px;
    padding: 1em;
    list-style: none;
    border-radius: 10px;
  }
  .subcategory2 li:hover {
    background-color: var(--gold);
    transition: 1s ease-in-out;
  }
  .subcategory2 li a:hover {
    color: goldenrod;
    transition: 1s;
  }
  .subcategory2 :last-child {
    border-bottom: none;
  }
  .category:hover .subcategory2 {
    display: flex;
  }
  .subcategory2 .drop1{
    position: relative;
  }
  .subcategory2 .drop1:hover .dropedge{
    display: block;
  }
  .subcategory2 .drop1 .dropedge{
    background-color: white;
    position: absolute;
    border-radius: 10px;
    top: 50px;
    right: 7px;
    display: none;
  }
  .subcategory2 .drop2{
    position: relative;
  }
  .subcategory2 .drop2:hover .dropwood{
    display: block;
  }
  .subcategory2 .drop2 .dropwood{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 50px;
    display: none;
  }

  /* subcategory3 */
  .subcategory3 {
    position: absolute;
    top: 100%;
    left: -50%;
    z-index: 50;
    background-color: #ffffff;
    height: auto;
    width: 50vw;
    overflow-x: none;
    border-radius: 10px;
    box-shadow: 2px 2px 15px darkgray;
    display: none;
  }
  .subcategory3 a {
    text-decoration: none;
    color: #0f0616;
    width: 100%;
  }
  .subcategory3 li {
    height: 10vh;
    text-align: center;
    border-bottom: solid lightgray 1px;
    padding: 1em;
    list-style: none;
    border-radius: 10px;
  }
  .subcategory3 li:hover {
    background-color: var(--gold);
    transition: 1s ease-in-out;
  }
  .subcategory3 li a:hover {
    color: goldenrod;
    transition: 1s;
  }
  .subcategory3 :last-child {
    border-bottom: none;
  }
  .category:hover .subcategory3 {
    display: flex;
  }
  .subcategory3 .drop1 {
    position: relative;
  }
  .subcategory3 .drop1:hover .dropwood{
    display: block;
  }
  .subcategory3 .dropwood{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 50px;
    width: 9em;
    display: none;
  }

  /* subcategory4 */
  .subcategory4 {
    position: absolute;
    top: 100%;
    left: -210%;
    z-index: 50;
    background-color: #ffffff;
    height: auto;
    width: 57vw;
    overflow-x: none;
    border-radius: 10px;
    box-shadow: 2px 2px 15px darkgray;
    display: none;
  }
  .subcategory4 a {
    text-decoration: none;
    color: #0f0616;
    width: 100%;
  }
  .subcategory4 li {
    height: 10vh;
    text-align: center;
    border-bottom: solid lightgray 1px;
    padding: 1em;
    list-style: none;
    border-radius: 10px;
  }
  .subcategory4 li:hover {
    background-color: var(--gold);
    transition: 1s ease-in-out;
  }
  .subcategory4 li a:hover {
    color: goldenrod;
    transition: 1s;
  }
  .subcategory4 :last-child {
    border-bottom: none;
  }
  .category:hover .subcategory4 {
    display: flex;
  }
  .subcategory4 .drop1{
    position: relative;
  }
  .subcategory4 .drop1:hover .droprunn{
    display: block;
  }
  .subcategory4 .droprunn{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 50px;
    width: 5vw;
    right: 2px;
    display: none;
  }
  .subcategory4 .drop2{
    position: relative;
  }
  .subcategory4 .drop2:hover .dropscrew{
    display: block;
  }
  .subcategory4 .drop2 .dropscrew{
    background-color: white;
    border-radius: 10px;
    top: 2px;
    width: 15vw;
    right: 1px;
    display: none;
  }


  /* subcategory5 */
  .subcategory5 {
    position: absolute;
    top: 100%;
    left: -70%;
    z-index: 50;
    background-color: #ffffff;
    height: auto;
    width: 35vw;
    overflow-x: none;
    border-radius: 10px;
    box-shadow: 2px 2px 15px darkgray;
    display: none;
  }
  .subcategory5 a {
    text-decoration: none;
    color: #0f0616;
    width: 100%;
  }
  .subcategory5 li {
    height: 10vh;
    text-align: center;
    border-bottom: solid lightgray 1px;
    padding: 1em;
    list-style: none;
    border-radius: 10px;
  }
  .subcategory5 li:hover {
    background-color: var(--gold);
    transition: 1s ease-in-out;
  }
  .subcategory5 li a:hover {
    color: goldenrod;
    transition: 1s;
  }
  .subcategory5 :last-child {
    border-bottom: none;
  }
  .category:hover .subcategory5 {
    display: flex;
  }
  .subcategory5 .drop1:hover .drophandle{
    display: block;
  }
  .subcategory5 .drophandle{
    background-color: white;
    border-radius: 10px;
    display: none;
  }
  .subcategory5 .drop2:hover .dropgola{
    display: block;
  }
  .subcategory5 .dropgola{
    background-color: white;
    border-radius: 10px;
    display: none;
  }